<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1W7SJXMPCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-1W7SJXMPCF');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8014746540373457"
        crossorigin="anonymous"></script>

    <title>隨機句子生成</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">隨機句子生成</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="/showData/adjective">Link</a></li>
                            <li><a class="dropdown-item" href="/showData/noun">Link</a></li>
                            <li><a class="dropdown-item" href="/showData/verb">Link</a></li>
                            <li><a class="dropdown-item" href="/showData/place">Link</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Link</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Link</a>
                    </li>
                    <!-- <button class="btn btn-outline-success" onclick="deleteAllCookies()" type="submit">Search</button> -->
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="text-center">
            <p>
                <button class="btn btn-primary" type="button" id="getRandomWord" onclick="getRandomWord()"
                    data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false"
                    aria-controls="collapseWidthExample">
                </button>
            </p>
            <center>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" id="sentence" style="width: 300px;">
                        </div>
                        <!-- <button type="button" onclick="copyFn()" class="btn btn-outline-secondary"
                            data-bs-toggle="popover" title="Popover title"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?">複製到剪貼簿</button> -->
                        <button type="button" onclick="copyFn()" class="btn btn-outline-secondary"
                            id="liveToastBtn">複製到剪貼簿</button>
                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <!-- <img src="https://i.imgur.com/MDBAl20.png" class="rounded me-2" alt="https://i.imgur.com/MDBAl20.png"> -->
                                    <strong class="me-auto">提醒</strong>
                                    <!-- <small>剛剛</small> -->
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    內容已複製到剪貼簿
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="row" style="text-align:center">
            <div class="row">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>瀏覽資料區</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        可檢視+鎖定目前資料 <cite title="Source Title">評分功能/其他詞性資料庫待更新</cite>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <button class="btn btn-primary" type="button" id="adjectiveCount" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample1" aria-controls="offcanvasExample1">
                    形容詞資料
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample1"
                    aria-labelledby="offcanvasExampleLabel" style="text-align:left">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">資料互動功能</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            1.檢視所有資料

                            2.鎖定資料
                            3.資料評分
                        </div>
                        <div class="dropdown mt-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" id="adjectiveData" onclick="addDataList('adjective')">
                                點我觀看
                            </button>
                            <ul class="dropdown-menu" id="adjectiveList" aria-labelledby="dropdownMenuButton">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <h5 class="text-center" id="adjectiveCount">目前數量:</h5> -->
                <ol class="list-group list-group-numbered" id="adjectiveLockList">

                </ol>
            </div>

            <div class="col-6 col-md-3">
                <button class="btn btn-primary" type="button"  id="nounCount" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample2">
                    名詞資料
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample2"
                    aria-labelledby="offcanvasExampleLabel2" style="text-align:left">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel2">資料互動功能</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            1.檢視所有資料
                            2.鎖定資料
                            3.資料評分
                        </div>
                        <div class="dropdown mt-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" id="nounData" onclick="addDataList('noun')">
                                點我觀看
                            </button>
                            <ul class="dropdown-menu" id="nounList" aria-labelledby="dropdownMenuButton">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <h5 class="text-center" id="nounCount">目前數量:</h5> -->
                <ol class="list-group list-group-numbered" id="nounLockList">
                </ol>
            </div>
            <div class="col-6 col-md-3">
                <button class="btn btn-primary" type="button" id="verbCount" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample3" aria-controls="offcanvasExample3">
                    動詞資料
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample3"
                    aria-labelledby="offcanvasExampleLabe3" style="text-align:left">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabe3">資料互動功能</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            1.檢視所有資料
                            2.鎖定資料
                            3.資料評分
                        </div>
                        <div class="dropdown mt-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" id="verbData" onclick="addDataList('verb')">
                                點我觀看
                            </button>
                            <ul class="dropdown-menu" id="verbList" aria-labelledby="dropdownMenuButton">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <h5 class="text-center" id="verbCount">目前數量:</h5> -->
                <ol class="list-group list-group-numbered" id="verbLockList">

                </ol>
            </div>
            <div class="col-6 col-md-3">
                <button class="btn btn-primary" id="placeCount" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample4" aria-controls="offcanvasExample4">
                    地點資料
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample4"
                    aria-labelledby="offcanvasExampleLabel4" style="text-align:left">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">資料互動功能</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            1.檢視所有資料
                            2.鎖定資料
                            3.資料評分
                        </div>
                        <div class="dropdown mt-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" id="placeData" onclick="addDataList('place')">
                                點我觀看
                            </button>
                            <ul class="dropdown-menu" id="placeList" aria-labelledby="dropdownMenuButton">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <h5 class="text-center" id="placeCount">目前數量:</h5> -->
                <ol class="list-group list-group-numbered" id="placeLockList">
                </ol>
            </div>
        </div>
        <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>添加資料區</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    測試用版本，正式版僅會保留部分資料 <cite title="Source Title">故事模式待更新</cite>
                </figcaption>
            </figure>
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-6 col-md-3">
                <form action="/addData/adjective" method='post'>
                    <div class="input-group mb-3">
                        <input type="text" name="adjective" class="form-control" placeholder="輸入形容詞"
                            aria-label="Recipient's username" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary" type='submit' id="button-addon1">送出</button>
                    </div>
                </form>
            </div>

            <div class="col-6 col-md-3">
                <form action="/addData/noun" method='post'>
                    <div class="input-group mb-3">
                        <input type="text" name="noun" class="form-control" placeholder="輸入名詞"
                            aria-label="Recipient's username" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary" type='submit' id="button-addon1">送出</button>
                    </div>
                </form>
            </div>
            <div class="col-6 col-md-3">
                <form action="/addData/verb" method='post'>
                    <div class="input-group mb-3">
                        <input type="text" name="verb" class="form-control" placeholder="輸入動詞"
                            aria-label="Recipient's username" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary" type='submit' id="button-addon1">送出</button>
                    </div>
                </form>
            </div>
            <div class="col-6 col-md-3">
                <form action="/addData/place" method='post'>
                    <div class="input-group mb-3">
                        <input type="text" name="place" class="form-control" placeholder="輸入地點"
                            aria-label="Recipient's username" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary" type='submit' id="button-addon1">送出</button>
                    </div>
                </form>

            </div>
            <h5 class="text-center" id="addTimes">已輸入次數計算中</h5>

        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->

    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 自定義 Js -->
<script src="js/apiFunction.js" type="text/javascript"></script>
<script src="js/tool.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let response, responseClient, addTimes;
    var lockData = {
        "adjective": [],
        "noun": [],
        "verb": [],
        "place": []
    }

    function addDataList(wordType) {
        try {
            id = "#" + wordType + "List"
            $(id).empty();
            let html = '';
            for (var i = 0; i < response[wordType].length; i++) {
                button = 'onclick=lockWord("' + wordType + '","' + response[wordType][i][1] + '")'
                html += '<li><a class="dropdown-item" href="#" ' + button + ' >' + (i + 1) + '. ' + response[wordType][
                    i
                ][1] + '</a></li>';
            }
            $(id).append(html);
        } catch {
            alert("發生錯誤!，請稍後再試")
        }
    }

    function lockWord(wordType, word) {
        lockData[wordType].push(word)
        id = "#" + wordType + "LockList"
        html = '<li class="list-group-item">' + word + '</li>'
        $(id).append(html);
    }

    function getRandomWord() {
        let sentence = "";
        for (const key in response) {
            // if (key == "place") {
            //     sentence += "在";
            // }
            if (key == "addTimes") {
                continue
            }
            if (lockData[key].length>0) {
                R = getRandom(0, lockData[key].length - 1);
                sentence += lockData[key][R];
            } else {
                // console.log(key, response[key]);
                // console.log(response[key].length)
                // console.log("getRandom:"+R)
                // console.log(response[key][R])
                // console.log(response[key][R][1])
                R = getRandom(0, response[key].length - 1);
                sentence += response[key][R][1];
            }
            if(key == "noun" && response[key][R][1].includes("在")==0){
                sentence += "在";
            }
        }
        console.log(sentence);
        var s = document.getElementById("sentence");
        s.innerHTML = sentence;
        window.getSelection().selectAllChildren(s);
        document.execCommand("Copy");
    }
    (function () {
        let tableName = ["adjective", "noun", "verb", "place"]

        function makeRequest(url) {
            xhr = new XMLHttpRequest();
            xhr.onload = function () {
                response = JSON.parse(this.response);
                console.log(response);
                initAPI();
            };
            xhr.open('GET', url, true);
            xhr.send();
        }

        function init() {
            $("#getRandomWord").text("等待資料中").attr({
                "disabled": "disabled"
            });
            tableName.forEach(function (item) {
                let id = "#" + item + "Count"
                $(id).text("等待資料中");
            })
            copyWindow()
            // getIpClient();
        }

        function initAPI() {
            showDataCount()
            $('#getRandomWord').text('已取得資料').removeAttr('disabled');
            time = 20 - parseInt(response["addTimes"])
            $("#addTimes").text("本日剩餘數量:" + time);
        }
        $(document).ready(function () {
            console.log("ready!!!!");
            init()
            try {
                makeRequest("/api/getAllData")
            } catch (e) {
                alert("資料請求錯誤\n" + e)
            }
        });

        function showDataCount() {
            tableName.forEach(function (item) {
                let id = "#" + item + "Count"
                let tableName = ["adjective", "noun", "verb", "place"]
                if (item =="adjective"){
                    showItem="形容詞"
                }else if(item=="noun"){
                    showItem="名詞"
                }else if(item=="verb"){
                    showItem="動詞"
                }else{
                    showItem="地點"
                }
                $(id).text(showItem+"(" + response[item].length+")");
            })
        }

        function copyFn() {
            var s = document.getElementById("sentence");
            window.getSelection().selectAllChildren(s);
            document.execCommand("Copy");
            // alert("已複製好，可貼粘。");
        }


    })()
</script>